GO
CREATE DATABASE InventarioBGR;
GO


USE [InventarioBGR]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 25/12/2025 21:25:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IdProducto] [uniqueidentifier] NOT NULL,
	[NombreProducto] [nvarchar](150) NOT NULL,
	[DescripcionProducto] [nvarchar](1000) NULL,
	[CategoriaProducto] [nvarchar](100) NOT NULL,
	[UrlImagenProducto] [nvarchar](max) NULL,
	[PrecioProducto] [decimal](18, 2) NOT NULL,
	[StockProducto] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
	[FechaActualizacion] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransaccionesInventario]    Script Date: 25/12/2025 21:25:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransaccionesInventario](
	[IdTransaccion] [uniqueidentifier] NOT NULL,
	[FechaTransaccion] [datetime2](0) NOT NULL,
	[TipoTransaccion] [varchar](10) NOT NULL,
	[IdProducto] [uniqueidentifier] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
	[Detalle] [nvarchar](1000) NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_TransaccionesInventario] PRIMARY KEY CLUSTERED 
(
	[IdTransaccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 25/12/2025 21:25:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [uniqueidentifier] NOT NULL,
	[NombreUsuario] [nvarchar](150) NOT NULL,
	[CorreoElectronico] [nvarchar](150) NOT NULL,
	[HashContrasena] [nvarchar](255) NOT NULL,
	[SaltContrasena] [nvarchar](255) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](0) NOT NULL,
	[FechaActualizacion] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuarios_Correo] UNIQUE NONCLUSTERED 
(
	[CorreoElectronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [DF_Productos_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[TransaccionesInventario] ADD  CONSTRAINT [DF_TransaccionesInventario_Fecha]  DEFAULT (sysutcdatetime()) FOR [FechaTransaccion]
GO
ALTER TABLE [dbo].[TransaccionesInventario] ADD  CONSTRAINT [DF_TransaccionesInventario_FechaCreacion]  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_IdUsuario]  DEFAULT (newsequentialid()) FOR [IdUsuario]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_FechaCreacion]  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_FechaActualizacion]  DEFAULT (sysutcdatetime()) FOR [FechaActualizacion]
GO
ALTER TABLE [dbo].[TransaccionesInventario]  WITH CHECK ADD  CONSTRAINT [FK_TransaccionesInventario_Productos] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Productos] ([IdProducto])
GO
ALTER TABLE [dbo].[TransaccionesInventario] CHECK CONSTRAINT [FK_TransaccionesInventario_Productos]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [CK_Productos_Precio] CHECK  (([PrecioProducto]>=(0)))
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [CK_Productos_Precio]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [CK_Productos_Stock] CHECK  (([StockProducto]>=(0)))
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [CK_Productos_Stock]
GO
ALTER TABLE [dbo].[TransaccionesInventario]  WITH CHECK ADD  CONSTRAINT [CK_TransaccionesInventario_Cantidad] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[TransaccionesInventario] CHECK CONSTRAINT [CK_TransaccionesInventario_Cantidad]
GO
ALTER TABLE [dbo].[TransaccionesInventario]  WITH CHECK ADD  CONSTRAINT [CK_TransaccionesInventario_PrecioUnitario] CHECK  (([PrecioUnitario]>=(0)))
GO
ALTER TABLE [dbo].[TransaccionesInventario] CHECK CONSTRAINT [CK_TransaccionesInventario_PrecioUnitario]
GO
ALTER TABLE [dbo].[TransaccionesInventario]  WITH CHECK ADD  CONSTRAINT [CK_TransaccionesInventario_Tipo] CHECK  (([TipoTransaccion]='VENTA' OR [TipoTransaccion]='COMPRA'))
GO
ALTER TABLE [dbo].[TransaccionesInventario] CHECK CONSTRAINT [CK_TransaccionesInventario_Tipo]
GO
